@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root{
  --background: #504a4a;
  --color-scrollbar: #e23636;
}

*{
  margin: 0;
  font-family: 'Anton', sans-serif;
}

main{
  display: flex;
  flex-direction: column;
}

body{
  background: url("https://i.pinimg.com/564x/02/35/8f/02358f9ca798487367cd0bd532646c87.jpg");
  min-height: 100vh;
  position: relative;
}

html::-webkit-scrollbar{
  width: 0.5rem;
}

html::-webkit-scrollbar-thumb{
  background: var(--color-scrollbar);
}