@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

:root{
  --background: #504a4a;
  --color-scrollbar: #e23636;
}

*{
  margin: 0;
  font-family: 'Anton', sans-serif;
}

main{
  display: flex;
  flex-direction: column;
}

body{
  background: var(--background);
  min-height: 100vh;
  position: relative;
}

html::-webkit-scrollbar{
  width: 0.5rem;
}

html::-webkit-scrollbar-thumb{
  background: var(--color-scrollbar);
}